<h4 class="fw-bold">
  <span class="me-1">🐾</span>
  <span> <%= "#{current_user.name}さんの学習記録" %></span>
</h4>

<%= link_to "新しい学習記録を追加", new_study_record_path, class: "btn btn-primary mb-3" %>

<%= form_with model: @search_form, url: study_records_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :from, "開始日" %>
    <%= f.date_field :from %>
  </div>

  <div>
    <%= f.label :to, "終了日" %>
    <%= f.date_field :to %>
  </div>

  <div>
    <%= f.label :keyword, "キーワード" %>
    <%= f.text_field :keyword %>
  </div>

  <%= f.submit "検索", class: "btn btn-secondary" %>
<% end %>

<h2>学習記録一覧</h2>

<% if @studies.present? %>
  <% @studies.each do |study| %>
    <div>
      <strong><%= study.date %></strong><br>
      <p><%= simple_format(study.body) %></p>
    </div>
  <% end %>
<% else %>
  <p>学習記録が見つかりませんでした。</p>
<% end %>