<!-- app/views/comments/_comment.html.erb -->
<% return unless comment.persisted? %>

<div id="comment_<%= comment.id %>">
  <% if comment.tag.present? %>
    <p>タグ: <%= comment.tag.map { |t| Comment::TAG_OPTIONS[t.to_sym] || t }.join(", ") %></p>
  <% end %>

  <p><%= comment.body %></p>

  <% if comment.image.attached? %>
    <p><%= image_tag comment.image, class: "img-thumbnail", size: "200x200" %></p>
  <% end %>

  <div class="d-flex gap-2">
    <%= link_to "編集", edit_article_comment_path(comment.article, comment), data: { turbo_frame: "comment_#{comment.id}" }, class: "btn btn-sm btn-outline-primary" %>
    <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
  </div>
</div>