<turbo-frame id="comment_<%= @comment.id %>">
  <%= form_with(model: [@article, @comment], local: true) do |f| %>
    <div>
      <%= f.label :body, "本文" %><br>
      <%= f.text_field :body %>
    </div>

    <div>
      <%= f.label :tag, "タグ" %><br>
      <% Comment::TAG_OPTIONS.each do |key, label| %>
        <%= check_box_tag "comment[tag][]", key, (@comment.tag || []).include?(key.to_s), id: "comment_tag_#{key}" %>
        <%= label_tag "comment_tag_#{key}", label %><br>
      <% end %>
    </div>

    <div>
      <%= f.label :image, "画像" %><br>
      <%= f.file_field :image %>
    </div>

    <%= f.submit "更新" %>
  <% end %>
</turbo-frame>