<h1>新しい記事の作成</h1>

<%= form_with model: @article, local: true do |f| %>
  <% if @article.errors.any? %>
    <div class="alert alert-danger">
      <h4>エラーがあります：</h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :category, "カテゴリー" %><br>
    <%= f.select :category, Article.categories.keys.map { |k| [k.humanize, k] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :status, "ステータス" %><br>
    <%= f.select :status, Article.statuses.keys.map { |k| [k.humanize, k] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :image, "画像添付（任意）" %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit "記事を作成", class: "btn btn-primary" %>
  </div>
<% end %>