<h1>学習記録の作成</h1>

<%= form_with model: @study, local: true do |f| %>
  <div>
    <%= f.label :date, "学習日" %><br>
    <%= f.datetime_select :date %>
  </div>

  <div>
    <%= f.label :body, "メモ" %><br>
    <%= f.text_area :body, rows: 5 %>
  </div>

  <div>
    <%= f.submit "記録する" %>
  </div>
<% end %>