<h2>学習記録詳細</h2>

<p><strong>日付:</strong> <%= @study.date %></p>
<p><strong>内容:</strong> <%= simple_format(@study.body) %></p>

<p><strong>学習項目:</strong></p>
<ul>
  <% @study.content_names.each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>

<%= link_to "編集", edit_study_path(@study) %> |
<%= link_to "一覧へ戻る", studies_path %>