<li id="<%= dom_id(learning_item) %>">
  <strong><%= learning_item.name %></strong>

  <%= button_to "切替", toggle_complete_learning_item_path(learning_item, status: status),
              method: :patch,
              data: { turbo_stream: true } %>

  <%= link_to "編集", edit_learning_item_path(learning_item, status: status),
            data: { turbo_stream: true },
            class: "btn btn-outline-primary" %>

  <%= button_to "削除", learning_item_path(learning_item),
                method: :delete,
                form: { data: { turbo_stream: true, turbo_confirm: "削除しますか？" } } %>
</li>