<h2>学習項目一覧</h2>

<%= turbo_frame_tag "contents" do %>
  <%= render partial: "content", collection: @contents, as: :content %>
<% end %>

<h2>新しい学習項目を追加</h2>

<%= turbo_frame_tag "new_content" do %>
  <%= render "form", content: @content %>
<% end %>

<%= link_to "← 学習記録作成に戻る", new_study_record_path %>